h1 {
  margin-top: 2%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

p {
  text-align: center;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

button {
  background-color: green;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 0 auto;
  margin-top: 2%;
}

@media (max-width: 1000px) {
  .choices {
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 2%; 
  }
  .choice {
    width: 33%;
    opacity: 0.5;
  }
  .compChoiceImg {
    margin-top: 2.5%;
    margin: 0 auto;
    max-width: 20%;
  }
}

@media (min-width: 1000px){
  .choices {
    max-width: 40%;
    margin: 0 auto;
    align-items: center;
    margin-top: 2%; 
  }
  .choice {
    width: 33%;
    opacity: 0.5;
  }
  .comp_choice_img {
    margin-top: 2.5%;
    margin: 0 auto;
    max-width: 10%;
  }
}

.App {
  display: flex;
  flex-direction: column;
}

.choice:active {
  width: 29%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.choice:hover {
  opacity: 0.7
}

.selected {
  opacity: 1;
  width: 34%;
}

.selected:hover {
  opacity: 1 !important;
}

.compChoosing {
  opacity: 0.5;
}

.compDecided {
  opacity: 1;
}
